.heading_style {
  padding: 30px 0;
  text-align:center;
  font-family: "Raleway",sans-serif;
  text-transform : uppercase;
  font-size:13px;
  letter-spacing: 2px;
  font-weight: 500;
  color:#868686;
  background-color: #fff;
  font-size:1.5rem;
  margin: bottom 30px;
}